---
apiVersion: v1
kind: Service
metadata:
  name: my-stateful-app
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: my-stateful-app
